
h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: #00597B;
    margin: 0px 0px 16px 0px;
}
h4 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #717171;
    margin: 0px 0px 16px 0px; 
    }
img {
    min-width: 360px;
    max-width: 840px;
    height: 533px;
    left: 428px;
    top: 1352px;
    margin: 0px 0px 16px 0px;
}
p {
   
    width: 840px;
    height: 84px;
    left: 428px;
    top: 1901px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 0px;

    color: #000000;
}
.button {
    font-size: 18px;
    width: 160px;
    height: 48px;
    left: 428px;
    top: 2001px;
    border-radius: 4px;
    background-color: #00597B;
    margin-bottom: 60px;
}
body {
    width: 960px;
    height: auto;
    background-color: #f1f1f1;
    margin: 60px 60px 0px 60px;
}